@import "./reset.scss";
@import "./layout.scss";
@import "./typography.scss";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,800&display=swap");

html, body {
  width: 100%;
  font-family: "Noto Sans TC", sans-serif;
  background: rgba(244, 93, 34, 0.9);
}
