p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 16px;
}

a {
  text-decoration: none;
  color: rgb(244, 93, 34);
  &:hover {
    text-decoration: underline;
  }
}

@function pow($a, $m) {
  @if $m <= 0 {
    @return 1;
  }

  @return $a * pow($a, $m - 1);
}

@for $i from 1 through 6 {
  h#{7 - $i} {
    font-size: 12px * round(pow(1.3, $i));
    margin: 12px 0;
    font-weight: bold;

    @media screen and (max-width: 420px) {
      font-size: 10px * round(pow(1.3, $i));
    }

  }
}
